---
import Header from '@/components/Header.astro'
import PageLayout from '@/layouts/PageLayout.astro'
const [page] = await Astro.glob('../content/page/about.md')
const { frontmatter } = page
---

<PageLayout title="À propos" backgroundImage={'/icons/peoples.svg'}>
  <div class="about-container flex w-full h-screen">
    <div class="infos w-3/6">
      <Header />
      <div class="text-infos ml-14 mt-28">
        <h1 class="text-title mt-4 mb-14">
          {frontmatter.title}
        </h1>
        <p>{frontmatter.firstContent}</p>
      </div>
    </div>
    <div class="about-edition w-1/2 bg-slate-200"></div>
  </div>
</PageLayout>
