---
export interface Props {
    name: string;
}

const { name } = Astro.props;
import RightNavigation from "@/components/RightNavigation.astro";
---

<style>
    .band {
        right: 0;
        display: flex;
        justify-content: end;
    }
    .band-img-box {
        width: 844px;
        position: relative;
    }
    .band-img-box .top-img , .norm-txt{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        font-family: "Hind";
        font-weight: bold;
        width: 500px;
        text-align: center;
    }
    .band-img-m, .mobile-txt, .top-img{
        display: none;
    }
    @media screen and (max-width: 768px) {

        .band-img-m{
        display: inline-block;
        width: 100vw;
    }
    .mobile-txt, .top-img{
        display: block;
    }

    .band-img, .norm-txt {
        display: none;
    }
    }
</style>

<div class="band">
    <div class="band-img-box">
        <img src=`../public/images/Inclusivitém.webp` alt="" class="band-img-m" />
        <img src=`../public/images/Inclusivité.webp` alt="" class="band-img" />
        
        <h1 class="norm-txt">Inclusivité</h1>
        <div class="top-img">
            <h1 class="mobile-txt">Inclusivité</h1>
        </div>
    </div>
</div>
