---

---
<style>
footer{
    background-color: black;
    margin: 0px;
    color: white;
}
.footer-a{
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    text-decoration: none;
}
.footer-a:hover{

    text-decoration: underline;
}
body{
    margin: 0px;
}


footer .logo{
    width: 75px;
    margin-left: 4.5vw;
    margin-top: 33px;
}
footer h3{
    font-family: 'Hind';
    font-size: 21px;
}

.soc-foot{
    width: 65px;
    margin-right: 4vw;
}

.soc-img{
    display: flex;
}

.legal-footer{
    margin-left: 4.5vw;
}

@media screen and (max-width: 600px) {
    .contenu-footer-1{
        flex-direction: column;
        
    margin-left: 17vw;
    width: calc(100vw - 34vw);
    }
    .legal-footer{
        margin-left:17vw ;
        width: calc(100vw - 34vw) ;
    }
}

@media screen and (max-width: 1000px) {
    .contenu-footer-1 {
      flex-direction: column;
    }

    .colonne-footer {
      margin-top: 5rem;
    }

    .legal-footer{
      margin-top: 3rem;
    }

    .colonne-footer-2 {
      margin-top: a
    }
}

</style>

<footer class="flex flex-col">
  <img src="images/logo.webp" alt="" class="logo">
  <section class="contenu-footer-1 flex place-content-between mx-16">
    <div class="flex flex-col gap-5">
        <div class="bloc-contenu">
            <h3 class="font-bold">Accueil</h3>
        </div>
        <div class="bloc-contenu">
            <h3 class="font-bold">Colloques MMI</h3>
            <a href="" class="footer-a"><p>Edition 2023</p></a>
            <a href="" class="footer-a"><p>Edition 2022</p></a>
        </div>
        <div class="bloc-contenu font-bold">
            <h3>Programme</h3>
        </div>
    </div>
      <div class="colonne-footer flex flex-col gap-6">
        <div class="bloc-contenu">
            <h3 class="font-bold">PUBLIC</h3>
            <a href="" class="footer-a"><p>Informations</p></a>
            <a href="" class="footer-a"><p>Intervenants</p></a>
            <a href="" class="footer-a"><p>Poster</p></a>
            <a href="" class="footer-a"><p>Ouvrage</p></a>
            <a href="" class="footer-a"><p>Live</p></a>
        </div>
        <div class="bloc-contenu">
            <h3 class="font-bold">DISPOSITIFS INNOVANTS</h3>
            <a href="" class="footer-a"><p>Informations</p></a>
            <a href="" class="footer-a"><p>Intervenants</p></a>
            <a href="" class="footer-a"><p>Poster</p></a>
            <a href="" class="footer-a"><p>Ouvrage</p></a>
            <a href="" class="footer-a"><p>Live</p></a>
        </div>
      </div>
      <div class="colonne-footer-2 flex flex-col gap-6" >
        <div class="bloc-contenu">
            <h3 class="font-bold">ACCESSIBILITÉ</h3>
            <a href="" class="footer-a"><p>Informations</p></a>
            <a href="" class="footer-a"><p>Intervenants</p></a>
            <a href="" class="footer-a"><p>Poster</p></a>
            <a href="" class="footer-a"><p>Ouvrage</p></a>
            <a href="" class="footer-a"><p>Live</p></a>
        </div>
        <div class="bloc-contenu">
            <h3 class="font-bold">INCLUSIVITÉ</h3>
            <a href="" class="footer-a"><p>Informations</p></a>
            <a href="" class="footer-a"><p>Intervenants</p></a>
            <a href="" class="footer-a"><p>Poster</p></a>
            <a href="" class="footer-a"><p>Ouvrage</p></a>
            <a href="" class="footer-a"><p>Live</p></a>
        </div>
      </div>
    <div class="colonne-footer flex flex-col gap-6">
      <div class="bloc-contenu">
          <h3 class="font-bold">NOUS CONTACTER</h3>
          <a href="" class="footer-a"><p>1 Rue Jacques Ellul, 33800  BORDEAUX</p></a>
          <a href="" class="footer-a"><p>05 57 12 20 40</p></a>
          <a href="" class="footer-a"><p>mmibordeaux@mmibordeaux.com</p></a>
          <a href="" class="footer-a"><p>colloquemmi@mmibordeaux.com</p></a>
      </div>
      <div class="bloc-contenu">
          <h3 class="font-bold">À PROPOS</h3>
          <a href="" class="footer-a"><p>Les intervenants</p></a>
          <a href="" class="footer-a"><p>Les élèves MMI</p></a>
          <a href="" class="footer-a"><p>Les professeurs</p></a>
      </div>
      <div class="bloc-contenu-soc">
          <h3 class="font-bold">NOS RÉSEAUX</h3>
          <div class="soc-img">
          <a href=""><img src="images/twitch.webp" alt="" class="soc-foot"></a>
          <a href=""><img src="images/insta.webp" alt="" class="soc-foot"></a>
      </div>
    </div>
  </div>
  </section>
  <section class="legal-footer flex gap-12 py-8">
      <a href="" class="footer-a"><p>Mentions légales</p></a>
      <a href="" class="footer-a"><p>À propos</p></a>
  </section>
</footer>