---
---

<header>
  <div class="header-box">
    <img src="/images/logo.webp" alt="" />
    <a href="/colloques" class="header-a">Colloque MMI</a>
    <a href="/about" class="header-a">À propos</a>
  </div>
</header>
<style>
  body {
    margin: 0px;
  }

  .header-box {
    background-color: black;
    margin: 0px;
    color: white;
    border-bottom-right-radius: 100px;
    height: 94px;
    display: flex;
    width: 41vw;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 6.9vw;
    align-items: center;
  }
  .header-box img {
    width: 57px;
    height: 57px;
  }

  .header-a {
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    text-decoration: none;
  }
  .header-a:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
    .header-box {
      width: 53vw;
      height: 160px;
      min-width: 260px;
      border-bottom-right-radius: 200px;
      position: absolute;
      z-index: 10;
    }
    .header-box img {
      margin-left: 17.8vw;
    }
    .header-a {
      display: none;
    }
  }
</style>
