---
import { getCollection } from "astro:content"
import TopicLayout from "@/layouts/TopicLayout.astro"
export async function getStaticPaths() {
  const topics = await getCollection("topic")
  return topics.map((p) => ({
    params: { slug: p.slug },
    props: p,
  }))
}
const topic = Astro.props
---

<TopicLayout name={topic.data.name} topic={topic.slug} currentPage={'speakers'}>
  <h1>Speakers</h1>
  <pre>
    
    {
      JSON.stringify(topic, null, 2)
    }
  </pre>
</TopicLayout>
