---
import H1 from "@/components/H1.astro"
import Head from "@/components/Head.astro"

export interface Props {
  title: string
  backgroundImage?: string
}

const { title, backgroundImage } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <Head />
  </head>
  <body
    style={{
      backgroundImage: backgroundImage ? `url(${backgroundImage})` : undefined,
    }}
  >
    <main class="mx-14">
      <H1 class="uppercase">{title}</H1>
      <article class="prose max-w-screen-2xl">
        <slot />
      </article>
    </main>
    <style define:vars={{ backgroundImage }}>
      body {
        background-repeat: no-repeat;
        background-position: left bottom;
        background-attachment: fixed;
      }
    </style>
  </body>
</html>
