---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{"todo"}</title>
        <Head />
    </head>
    <Header />
    <body>
        <main class="mx-14">
            <slot />
        </main>
    </body>
</html>
