---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Head from "@/components/Head.astro";
import RightNavigation from "@/components/RightNavigation.astro";
import Band from "@/components/Band.astro";
export interface Props {
  name: string
  topic: string
  currentPage: string
}

const { name, topic, currentPage } = Astro.props

import { colors } from 'src/lib/content'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{name} - {'TODO'}</title>
    <Head />
  </head>
  <Header />
  <body>
    <Band />
    </div>

    <div class="main mx-14 mt-12 flex justify-between">
      <div class="max-w-4xl">
        <slot />
      </div>
      <RightNavigation
        color={colors[topic]}
        currentPage={currentPage}
        topic={topic}
      />
    </div>
    <Footer />
  </body>
</html>
